<app-header-admin></app-header-admin>



<div class="all_pages_content">
    <div class="clear"></div>
    <div class="page_content_here">
     <div class="manage_school_table">

    <div class="listing_tabs1">
      <ul class="">
         <a routerLink="/TabService"><li class="" id="">Services</li></a>
         <a routerLink="/TabManage"><li class="active_tab" id="">Manage</li></a>
      </ul>
    </div>
    <div class="large_gap"></div>    
    <div class="large_gap"></div> 
    <div class="col-md-6 padding30"><h3>Manage Courses </h3>
        <p class="breadscrum_text"><a  routerLink="/">Home</a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp;<a  routerLink="/TabManage">Manage</a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp;<a  routerLink="/Courses">Course</a> &nbsp;<i class="fa fa-chevron-right"></i> &nbsp; Manage Courses</p>
    </div>    



    

       
<div class="clear"></div>
<div class="little_gap"></div>

<div class="tabs_S_M">
     <div class="listing_tabs1">
        <ul class="">
            <a routerLink="/Courses"><li class="" id="">Course</li></a>           
            <a routerLink="/syllabusnew"><li class="active_tab" id="">Syllabus</li></a>
            <a routerLink="/Mastersubject"><li class="" id="">Subjects</li></a> 
        </ul>       
      </div> 
      <div class="little_gap"></div>
     
    <div class="gird_div">

      <div class="tabs_div active_tab_div " id="service_tab_div">
        <div class="text-right">
            <div class="buttons_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
          
		<button class="add_more_btn" (click)="show_addCourseFields()" [ngClass]="{'disable_btn': selectedCourseArray.length!='0'}"><i class="fa fa-plus"></i> Add</button>
        <button class="edit_field_btn" (click)="getselectedCourseProfile()" [ngClass]="{'disable_btn': selectedCourseArray.length!='1'}"><i class="fa fa-pencil"></i> Modify</button>
        <button (click)="deleteCourse()" [ngClass]="{'disable_btn': selectedCourseArray.length==0 || selectedCourseArray.length>1}"><i class="fa fa-trash"></i> Delete</button>
                
            </div>
        </div>
        <div class="little_gap"></div>


   <div class="add_fields addschool_div" [ngClass]="{'inactive_div': div_Element_Id !='1'}">
       <div class="col-md-3"></div>
	  <form [formGroup]="syllabusFormGroup" (ngSubmit)="addSyllabusSubmit(syllabusFormGroup)"> 
      <div class="col-md-6 padding0">
        <div class="col-md-4 text-right">Course Name</div>
		<div class="col-md-8">
            <input type="text" formControlName="courseName" placeholder="Inter 1st (MPC)" ></div>
        <div class="clear"></div>
        
        <div class="col-md-4 text-right">Syllabus Name</div>
        <div class="col-md-8 plus_btn_inline">
                <select>
                        <option  [ngValue]="undefined"  disabled> select by class</option>
                        <option *ngFor="let currentData of alldata"  [value]='currentData'>
                        {{currentData}}
                        </option>
                </select>
            <div class="text-right">
                <button class="add_more_btn" (click)="add_syllabusFields()"><i class="fa fa-plus"></i> Add</button>
                <button (click)="deleteCourse()"><i class="fa fa-trash"></i> Delete</button>
            </div>
            <div class="large_gap"></div>
                <!-- <i class="fa fa-plus" (click)="addSyllabusName()"></i>
                <div formArrayName="syllabusList">
                    <div *ngFor="let itemrow of syllabusFormGroup.controls.syllabusList.controls; let i=index"  [formGroupName]="i" class="dlt_btn_inline">
                        <div class="form-group">
                            <input formControlName="syllabusName" value="" class="form-control" maxlength="10">
                        </div>
                        <i *ngIf="syllabusFormGroup.controls.syllabusList.controls.length > 1" (click)="deleteSyllabusName(i)" class="fa fa-trash"></i>
                    </div>
                </div> -->
                <table>
                  <thead>
                  <tr>
                      <th></th>
                      <th>S.no</th>
                      <th>Syllabus Name</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><input type="checkbox"></td>
                      <td>1</td>
                      <td>Maths - Inter 1st Year</td>
                  </tr>
                   <tr>
                      <td><input type="checkbox"></td>
                      <td>1</td>
                      <td>Physics - Inter 1st Year</td>
                  </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>1</td>
                      <td>Chemistry - Inter 1st Year</td>
                  </tr>
                  </tbody>
              </table>
        </div>
        <div class="clear"></div>
               
		<div class="clear"></div>
        <div class="little_gap"></div>
      </div>
      <div class="col-md-3"></div>
      <div class="clear"></div>
      <div class="col-md-12 padding0">          
            <div class="col-md-3"></div> 
            <div class="col-md-6">
              <div class="col-md-4"></div>
                <div class="col-md-8">
                <button class="update_btn" type="submit">Add Syllabus</button>
                <button class="cancel_btn_add" (click)="showCourseList()">Cancel</button>
               </div> 
             </div> 
    </div>
	</form>
      <div class="clear"></div>
    </div> 


   <div class="modify_fields addschool_div" [ngClass]="{'inactive_div': div_Element_Id !='2'}">
       <div class="col-md-3"></div>
      <div class="col-md-6 padding0">
        <div class="col-md-4"><p>Course Name</p></div><div class="col-md-8"><input type="text" value="Inter 1st (MPC)"></div><div class="clear"></div>

        <div class="col-md-4"><p>Syllabus Name</p></div>
        <div class="col-md-8">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>S.no</th>
                    <th>Syllabus Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>Maths - Inter 1st Year</td>
                </tr>
                 <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>Physics - Inter 1st Year</td>
                </tr>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>1</td>
                    <td>Chemistry - Inter 1st Year</td>
                </tr>
                </tbody>
            </table>

        </div><div class="clear"></div>
        <div class="little_gap"></div>
      </div>
      <div class="col-md-3"></div>
      <div class="clear"></div>
      <div class="col-md-12 padding0 text-center">
        <button class="update_btn">Add Course</button>
        <button class="cancel_btn_modify" (click)="showCourseList()">Cancel</button>
    </div>
      <div class="clear"></div>
    </div> 
    <div class="clear"></div>

	<div class="datatable_toggle active_tab_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
        <table id="manageTeachertable" style="width: 110%;">
            <thead>
                <tr>
                    <th></th>
                    <th>S.no</th>
                    <!-- <th>SyllabusId</th> -->
                    <th>Syllabus Name</th>
                    <!-- <th>Syllabus Subjects</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let masterCourse of masterCourseTOList; let i=index;">
                    <td><input type="checkbox" id="{{masterCourse.courseId}}" value="{{masterCourse.courseId}}" (change)="checkedmasterCourse(masterCourse.courseId)"></td>
				    <td>{{i + 1}}</td>
                    <!-- <td>{{masterCourse.courseId}}</td> -->
                    <td>{{masterCourse.courseName}}</td>
                    <!-- <td>
                            <div *ngFor="let masterCourse1 of masterCourse.syllabusList ; let i=index ">
                                    {{masterCourse1.syllabusName}},
                            </div>

                       </td> -->
                </tr>                 
            </tbody>
        </table>
	</div>      
        <div class="clear"></div>
    </div>
          <div class="clear"></div>
      </div>
    </div>
</div>
    </div>
</div>















<!-- <p>
  master-course works!

  <br />
  <br />

  <button (click)="testAdd()"> Add </button> <BR><BR>

  <button (click)="testUpdate()"> Update </button> <BR><BR>

  <button (click)="testGet()"> Get </button> <BR><BR>

  <button (click)="testGetAll()"> Get All </button> <BR><BR>

  <button (click)="testDelete()"> Delete </button> <BR><BR>

</p> -->
