<section class="sample-app-content">
  <h1>Add Teacher:</h1>
  <h3>Error Message:  {{ errorMessage }}</h3>
  <form [formGroup]="teacherFormGroup" (ngSubmit)="addTeacherProfile(teacherFormGroup)">
    <p>
      <label>schoolId:</label>
      <input type="text" formControlName="schoolId">
    </p>

    <p>
      <label>firstName:</label>
      <input type="text" formControlName="firstName">
    </p>
    <p>
      <label>lastName:</label>
      <input type="text" formControlName="lastName">
    </p>
    <p>
      <label>middleName:</label>
      <input type="text" formControlName="middleName">
    </p>
    <p>
      <label>Teacher id:</label>
      <input type="text" formControlName="id">
    </p>

    <div formGroupName="address">
      <p>
        <label>city:</label>
        <input type="text" formControlName="city">
      </p>
      <p>
        <label>doorNo:</label>
        <input type="text" formControlName="doorNo">
      </p>

    </div>

    <p>
      <label>profilePhotoUrl:</label>
      <input type="text" formControlName="profilePic">
    </p>

    <p>
      <button type="submit" >Submit</button>
    </p>
  </form>
</section>

