<div class="header_div">
<div class="marginContent">
  <div class="col-lg-3 col-md-3 col-sm-3 padding0">
 <div class="logo_div">
<a routerLink="/"> <img src="./assets/images/logo.png" class="img100"></a></div>
  <!--<div class="serach_box inline_block">
    <input type="text" placeholder="Search..."><i class="fa fa-search"></i>
  </div>-->
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 text-right">
    <ul class="right_side_icon">
      <li class=""><a routerLink="#">Help</a></li>|
      <li class=""><a routerLink="#">About</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>


</div>

