.mat-input-container
{
    width: 100%;
}
.manage_school_table h3
{
margin-top: 6px;
margin-bottom: 22px;
color: #666;
}
.manage_school_table table tbody tr td img
{
    width: 56px;
    height: 56px;
}
.manage_school_table table tbody tr td button
{
    min-width: 0;
}
.manage_school_table table tbody tr td button i
{
    color: #666;
}
.plus_btn_inline i
{
position: absolute;
top: 9px;
right: -16px;
color: #55b1b9;
cursor: pointer
}
.dlt_btn_inline .fa-trash
{
    position: absolute;
    top: 9px;
    color: #55b1b9;
    cursor: pointer
}
.inactive_div
{
    height: 0;
    overflow: hidden
}

.singleStudentViewDiv
{
    transition: 0.3s;
    height: 600px;
    overflow: hidden;
    
}
.inactive_div
{
    height: 0;
    overflow: hidden
}
.school_details p
{
    padding-left: 70px;
}
.profile_image_div img
{
width: 200px;
height: 200px;
border-radius: 50%;
border: 5px solid #199f86;
}
.profile_image_div
{
    margin-top: 0px;
}
.text_beside_img
{
    display: inline-block;
    vertical-align: middle
}
.text_beside_img p
{
    padding-left: 20px;
}
.img_pos_ab
{
    position: absolute;
}
.student_details p
{
    padding-left: 70px;
}
.view_Student_profile
{
    border: 1px solid #c8c8c8;   
}
.my_table_width tbody tr td:nth-child(1), .my_table_width tbody tr td:nth-child(2), .my_table_width tbody tr td:nth-child(3)
{
    text-align: center
}
.uploadbutton
{
    width:176px;
}
.closeclassidpopup
{
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}