<app-header-admin></app-header-admin>



<div class="overlay hideblock" [ngClass]="{'showblock': active=='1'}"></div>
    <div class="popup_screen hideblock " [ngClass]="{'showblock': active=='1'}">
        <div class="sucess_msg_text"><span class="checkicon"> &#x2714;</span> <p [ngClass]="{'show_styles_sucess': active=='1'}">{{sucessMessage}}!</p></div>
        <div class="little_gap"></div>
        <button class="update_btn popup_ok_btn" (click)="closePopup()">Ok</button>
        <div class="little_gap"></div>
    </div>



<div class="all_pages_content">
    <div class="clear"></div>
    <div class="page_content_here">
     <div class="manage_school_table">

         <div class="listing_tabs">
      <ul class="">
         <a routerLink="/TabService"><li class="active_tab" id="service_tab">Services</li></a>
         <a routerLink="/TabManage"><li class="" id="manage_tab">Manage</li></a>
      </ul>
    </div>
    <div class="large_gap"></div>

    
       <div class="col-md-6 padding0"><h3>Manage Fee</h3>
       <p class="breadscrum_text"><a  routerLink="/">Home </a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp; Manage Fee</p>
       </div>
        <div class="col-md-6 padding0 text-right">
          <div class="buttons_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
            <button class="add_more_btn"  (click)="show_addFeeFields()" [ngClass]="{'disable_btn': selectedFeesArray.length!='0'}"><i class="fa fa-plus"></i> Add</button> 
            <button class="edit_field_btn" (click)="getselectedFeeProfile()" [ngClass]="{'disable_btn': selectedFeesArray.length!='1'}"><i class="fa fa-pencil"></i> Modify</button>
            <button (click)="deleteFee()" [ngClass]="{'disable_btn': selectedFeesArray.length==0 || selectedFeesArray.length>1}"><i class="fa fa-trash"></i> Delete</button>
            <button (click)="viewSingleFeeProfile()" [ngClass]="{'disable_btn': selectedFeesArray.length!='1'}"><i class="fa fa-eye"></i> View</button> 
            <button (click)="copySingleFeeProfile()" [ngClass]="{'disable_btn': selectedFeesArray.length!='1'}"><i class="fa fa-files-o"></i> Copy</button> 
            </div>
        </div>
          <div class="clear"></div>


    <div class="error_msg_text"><p [ngClass]="{'error_styles_sucess': active=='2'}">{{errorMessage}}</p></div>
         
   <div class="add_fields addschool_div"  *ngIf ="div_Element_Id =='1'"  [ngClass]="{'inactive_div': div_Element_Id !='1'}">
      <div class="little_gap"></div>
      <form [formGroup]="feeFormGroup" (ngSubmit)="addFeeSubmit(feeFormGroup.value)">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="col-md-4"><p>S.No</p></div>
              <div class="col-md-8">
                <input type="number" formControlName="serialNo" placeholder="Enter Serial No">
              </div>
              <div class="clear"></div>
              <div class="col-md-4"><p>Class</p></div>
              <div class="col-md-8">
                  <div  class="input-field col s12">
                    <input id="country" type="text" name="className" formControlName="className" class="validate filter-input" placeholder="Search ClassName" [(ngModel)]=Feequery (keyup)=filter1()>
                  </div>
                  <div class="suggestions sugg_dropdown" *ngIf="filteredListarray.length > 0">
                      <ul class="class_margin" *ngFor="let item of filteredListarray" >
                          <li class="class_select text-left">
                              <a (click)="select1(item)">{{item}}</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="clear"></div>
              <div class="col-md-4"><p>Term</p></div>
              <div class="col-md-8">
                <input type="text"  formControlName="term" placeholder="Enter Term" class="">
              </div>
              <div class="clear"></div>
              <div class="col-md-4"><p>Amount</p></div>
              <div class="col-md-8">
                <input type="number"  formControlName="Amount" placeholder="Enter Amount" class="">
              </div>
              <div class="clear"></div>
              <div class="col-md-4"><p>Due Date</p></div>
              <div class="col-md-8">
                  <ng-datepicker  formControlName="duedate" [options]="dateOptions"  placeholder="Enter  Date"></ng-datepicker>
              </div>
              <div class="clear"></div>
              <div class="col-md-4"><p>Remark</p></div>
              <div class="col-md-8">
                <input type="text"  formControlName="remark" placeholder="Enter Remark" class="">
              </div>
              <div class="clear"></div>
              <div class="little_gap"></div>
            </div>
            <div class="col-md-3"></div>
          <div class="col-md-12  padding0 text-center">
            <button class="update_btn">Add Fee</button><span class="cancel_btn_add button_type_span" (click)="showFeeList()">Cancel</span>
          </div>          
          <div class="clear"></div>
      </form>
    </div> 




<div class="modify_fields addschool_div" [ngClass]="{'inactive_div': div_Element_Id !='2'}">
    <div class="little_gap"></div>
    <form [formGroup]="feeFormGroup" (ngSubmit)="UpdateFeeSubmit(feeFormGroup.value)">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="col-md-4"><p>S.No</p></div>
            <div class="col-md-8">
              <input type="text" formControlName="serialNo"  placeholder="Enter Serial">
            </div>
            <div class="clear"></div>
            <div class="col-md-4"><p>Class</p></div>
            <div class="col-md-8">
                <div  class="input-field col s12">
                    <input id="country" type="text" name="className" formControlName="className" class="validate filter-input" placeholder="Search ClassName" [(ngModel)]=Feequery (keyup)=filter1()>
                </div>
                <div class="suggestions sugg_dropdown" *ngIf="filteredListarray.length > 0">
                    <ul class="class_margin" *ngFor="let item of filteredListarray" >
                        <li class="class_select text-left">
                            <a (click)="select1(item)">{{item}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-4"><p>Term</p></div>
            <div class="col-md-8">
              <input type="text"  formControlName="term" placeholder="Enter Term" class="">
            </div>
            <div class="clear"></div>
            <div class="col-md-4"><p>Amount</p></div>
            <div class="col-md-8">
              <input type="number"  formControlName="Amount" placeholder="Enter Amount" class="">
            </div>
            <div class="clear"></div>
            <div class="col-md-4"><p>Due Date</p></div>
            <div class="col-md-8">
                <ng-datepicker  formControlName="duedate" [options]="dateOptions"  placeholder="Enter  Date"></ng-datepicker>
            </div>
            <div class="clear"></div>
            <div class="col-md-4"><p>Remark</p></div>
            <div class="col-md-8">
              <input type="text"  formControlName="remark" placeholder="Enter Remark" class="">
            </div>
            <div class="clear"></div>
            <div class="little_gap"></div>
          </div>
          <div class="col-md-3"></div>
        <div class="col-md-12  padding0 text-center">
          <button class="update_btn">Modify Fee</button><span class="cancel_btn_add button_type_span" (click)="showFeeList()">Cancel</span>
        </div>          
        <div class="clear"></div>
    </form>
    </div> 
    <div class="clear"></div>
    <div class="little_gap"></div>

    
    

    <div class="singleStudentViewDiv addschool_div"  [ngClass]="{'inactive_div': div_Element_Id !='3'}">
        <div class="col-md-12 text-right">
            <span class="cancel_btn_modify button_type_span" (click)="showFeeList()">Close</span>
        </div>
        <div class="col-md-3"></div>
            <div class="col-md-6 padding0">
                <div class="large_gap"></div>            
                <table class="view_syllabus_table">
                    <thead>
                        <tr class="text-center">
                                <th >S.No</th>
                                <th >ClassName</th>
                                <th >Term</th>
                                <th >Amount</th>
                                <th>Date</th>
                                <th >Remark</th>
                           
                        </tr>
                    </thead>
                    <tbody *ngIf="div_Element_Id == '3'">
                        <tr  class="text-center" *ngFor="let viewname of feesarray1; let i=index;">
                            <td>{{viewname.serialNo}}</td>
                            <td>{{viewname.className}}</td>
                            <td>{{viewname.term}}</td>
                            <td>{{viewname.Amount}}</td>
                            <td>{{viewname.duedate | date}}</td>
                            <td>{{viewname.remark}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
            <div class="clear"></div>
    </div>
    <div class="clear"></div>




          <div class="datatable_toggle" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
          <table id="manageclassestable" datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="my_table_width">
                    <thead>
                      <tr class="text-center">
                          <th></th>
                          <th >S.No</th>
                          <th >ClassName</th>
                          <th >Term</th>
                          <th>Amount</th>
                          <th>Date</th>
                          <th>Remark</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="div_Element_Id =='0'">
                        <tr class="text-center" *ngFor="let events of feesarray; let i=index;">
                            <td ><input type="checkbox"id="a{{events.ClassId}}" value="{{events.ClassId}}" (change)="checkedmasterFee(events.ClassId,i)"></td>
                            <td>{{events.serialNo}}</td>
                            <td>{{events.className}}</td>
                            <td>{{events.term}}</td>
                            <td >{{events.Amount}}</td>
                            <td >{{events.duedate | date}}</td>
                            <td >{{events.remark}}</td>
                        </tr>
                    </tbody>
                </table>
          </div>
              
          <div class="clear"></div>
            </div>
            </div>
        </div>
