
<app-header-admin></app-header-admin>
<div class="overlay hideblock" [ngClass]="{'showblock': active=='1'}"></div>

<div class="popup_screen hideblock " [ngClass]="{'showblock': active=='1'}">
  <div class="sucess_msg_text"><span class="checkicon"> &#x2714;</span> <p [ngClass]="{'show_styles_sucess': active=='1'}"> {{sucessMessage}}!</p></div>
  <div class="little_gap"></div>
  <button class="update_btn popup_ok_btn" (click)="closePopup()">Ok</button>
</div>


<div class="all_pages_content">







  <div style="padding-top:1px;"></div>
  <div class="clear"></div>
  <div class="clear"></div>
  <div class="page_content_here">
    <div class="manage_school_table">
      <div class="col-md-6 padding0"><h3>Manage Schools</h3>
        <p class="breadscrum_text"><a  routerLink="/">Home </a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp; Manage Schools</p>
      </div>

      <div class="col-md-6 padding0 text-right">
        <div class="buttons_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
          <button class="add_more_btn" (click)="show_addSchoolFields()" [ngClass]="{'disable_btn': selectedSchoolArray.length!='0'}"><i class="fa fa-plus"></i> Add</button>
          <button class="edit_field_btn" (click)="getselectedSchoolProfile()" [ngClass]="{'disable_btn': selectedSchoolArray.length!='1'}"><i class="fa fa-pencil"></i> Modify</button>
          <button (click)="deleteSchoolProfile()" [ngClass]="{'disable_btn': selectedSchoolArray.length=='0'}"><i class="fa fa-trash"></i> Delete</button>
          <button (click)="viewSingleSchoolProfile()" [ngClass]="{'disable_btn': selectedSchoolArray.length!='1'}"><i class="fa fa-eye"></i> View</button>
        </div>
      </div>
      <div class="clear"></div>
      <div class="little_gap"></div>


<!-- <div class="sucess_msg_text"><p [ngClass]="{'show_styles_sucess': active=='1'}">{{sucessMessage}}</p></div> -->
<div class="error_msg_text"><p [ngClass]="{'error_styles_sucess': active=='2'}">{{errorMessage}}</p></div>


      <div class="add_fields addschool_div" [ngClass]="{'inactive_div': div_Element_Id !='1'}">

        <form [formGroup]="schoolFormGroup" (ngSubmit)="addSchoolProfile(schoolFormGroup)" ngNativeValidate>
          <div class="col-md-6">
            <!-- <div class="col-md-4 text-right"><p>School Id</p></div>
            <div class="col-md-8"><input type="text" placeholder="" formControlName="schoolId" ></div>
            <div class="clear"></div> -->
            <div class="col-md-4 text-right"><p>School Name</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter School Name" maxlength="30" formControlName="schoolName" title="Please Enter School Name"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Display Short Name</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter School Display Name" maxlength="12" formControlName="schoolDisplayName"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Address1</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter Address1" maxlength="100" formControlName="addressOne"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Address2</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter Address2" maxlength="100" formControlName="addressTwo"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>City</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter City" maxlength="50" formControlName="city"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>State</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter State" maxlength="50" formControlName="state"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Pincode</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter pincode" maxlength="10" formControlName="pincode"></div>
            <div class="clear"></div>
            <div class="little_gap"></div>
          </div>
          <div class="col-md-6">
           
            
            <div class="col-md-4 text-right"><p>Country</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter Country" maxlength="20" formControlName="country"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Primary Contact Name </p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter Primary Contact Name" maxlength="50" formControlName="contactName"></div>
            <div class="clear"></div>
            <div class="col-md-4 text-right"><p>Primary Contact #</p></div>
            <div class="col-md-8"><input type="text" placeholder="Enter Contact Number" maxlength="10" formControlName="contactNumber"></div>
            <div class="clear"></div>
            <!--<div class="col-md-4"><p>Principal</p></div><div class="col-md-8"><input type="text" placeholder="Enter Principal Name"></div><div class="clear"></div>-->
            <div class="col-md-4 text-right"><p>Active</p></div><div class="col-md-8">
            <div id="toggles">
               <input type="checkbox" name="checkbox1" id="checkbox1" formControlName="active" class="ios-toggle" checked>
               <label for="checkbox1" class="checkbox-label" data-on="On"  data-off="Off"></label>
             </div>
          </div><div class="clear"></div>
            <div class="col-md-4 text-right"><p>Remarks</p></div>
            <div class="col-md-8"><textarea placeholder="Enter Remarks" maxlength="200" formControlName="remarks" ></textarea></div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="text-center"><button class="update_btn" type="submit">Add School</button> <span class="cancel_btn_add button_type_span" (click)="showSchoolsList()">Cancel</span></div>
        </form>





      </div>







      <div class="modify_fields addschool_div"  [ngClass]="{'inactive_div': div_Element_Id !='2'}">
      <form [formGroup]="schoolFormGroup" (ngSubmit)="updateSchoolProfile(schoolFormGroup)">
        <div class="col-md-6">
         <!-- <div class="col-md-4 text-right"><p>School Id</p></div>
         <div class="col-md-8"><input type="text" formControlName="schoolId"  title="Please Enter schoolId" required></div>
         <div class="clear"></div> -->
          <div class="col-md-4 text-right"><p>School Name</p></div>
          <div class="col-md-8"><input type="text" formControlName="schoolName" maxlength="30"></div>
          <div class="clear"></div>
          <div class="col-md-4 text-right"><p>Display Short Name</p></div>
          <div class="col-md-8"><input type="text" formControlName="schoolDisplayName" maxlength="12"></div>
          <div class="clear"></div>
          <div class="col-md-4 text-right"><p>Address1</p></div>
          <div class="col-md-8"><input type="text" formControlName="addressOne" maxlength="100"></div>
          <div class="clear"></div>
          <div class="col-md-4 text-right"><p>Address2</p></div>
          <div class="col-md-8"><input type="text" formControlName="addressTwo" maxlength="100"></div>
          <div class="clear"></div>
          <div class="col-md-4 text-right"><p>City</p></div>
          <div class="col-md-8"><input type="text" formControlName="city" value="" maxlength="50"></div>
          <div class="clear"></div>
          <div class="col-md-4 text-right"><p>State</p></div><div class="col-md-8"><input type="text" formControlName="state" value="" maxlength="50"></div><div class="clear"></div>
          <div class="col-md-4 text-right"><p>Pincode</p></div><div class="col-md-8"><input type="text" formControlName="pincode" value="" maxlength="10"></div><div class="clear"></div>
          <div class="little_gap"></div>
        </div>

        <div class="col-md-6">
          
         
          <div class="col-md-4 text-right"><p>Country</p></div><div class="col-md-8"><input type="text" formControlName="country"  value="" maxlength="20"></div><div class="clear"></div>
          <div class="col-md-4 text-right"><p>Primary Contact</p></div><div class="col-md-8"><input type="text" formControlName="contactName" maxlength="50" value=""></div><div class="clear"></div>
          <div class="col-md-4 text-right"><p>Contact #</p></div><div class="col-md-8"><input type="text" formControlName="contactNumber" maxlength="10" value=""></div><div class="clear"></div>
          <!--<div class="col-md-4"><p>Principal</p></div><div class="col-md-8"><input type="text" value="Mr.DineshChoudhary"></div><div class="clear"></div>-->
          <!-- <div class="col-md-4 text-right"><p>School Logo</p></div><div class="col-md-8"><input type="file" value=""></div><div class="clear"></div> -->
          <div class="col-md-4 text-right"><p>Active</p></div><div class="col-md-8">
          <div id="toggles">
            <input type="checkbox" name="checkbox1" id="checkbox2" class="ios-toggle" checked/>
            <label for="checkbox2" class="checkbox-label" data-off="Off" data-on="On"></label>
          </div>
        </div><div class="clear"></div>
          <div class="col-md-4 text-right"><p>Remarks</p></div><div class="col-md-8"><textarea formControlName="remarks" maxlength="200"></textarea></div><div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="text-center"><button class="update_btn">Modify School</button> <span class="cancel_btn_modify button_type_span" (click)="showSchoolsList()">Cancel</span></div>
      </form>
      </div>






      <div class="single_school_detail_view inactive_div" [ngClass]="{'inactive_div': div_Element_Id !='3'}">
        <div class="view_School">
          <div class="text-right">
              <span class="cancel_btn_modify button_type_span" (click)="showSchoolsList()">Close</span>
          </div>
        <div class="col-md-12">

          <div class="col-md-6"></div>
          <div class="col-md-3"></div>
          <div class="clear"></div>

          <div class="school_details">
            <div class="col-md-7">
              <div class="profile_image_div">
                <img src="./assets/images/default_school.jpg">
                <div class="text_beside_img">
                  <p class="School_name">School Name: <span>   {{ (schoolProfileTO.schoolName != null && schoolProfileTO.schoolName.length != 0) ?  schoolProfileTO.schoolName:'-' }} </span></p>
                  <p class="school_id">School Id: <span>    {{ (schoolProfileTO.schoolId != null && schoolProfileTO.schoolId.length != 0) ?  schoolProfileTO.schoolId :'-'}}  </span>   </p>
                  <p class="school_contact">Primary Contact#: <span>{{ (schoolProfileTO.contactName != null && schoolProfileTO.contactName.length != 0) ?  schoolProfileTO.contactName:'-' }}  
                    </span> </p>
                  <p class="school_contact">Contact#: <span>{{ (schoolProfileTO.contactNumber != null && schoolProfileTO.contactNumber.length != 0) ? schoolProfileTO.contactNumber :'-'}}  </span> </p>
                  <!-- <p><i class="fa fa-map-marker"></i> {{schoolProfileTO.addressOne}}, {{schoolProfileTO.addressTwo}}, {{schoolProfileTO.city}}, {{schoolProfileTO.state}}, {{schoolProfileTO.pincode}}, {{schoolProfileTO.country}}</p> -->
                </div>
              </div>
              <!-- <img src="./assets/images/webicons/schoolname.png"> -->

            </div>
            <div class="col-md-5">
              <div class="large_gap"></div>
              <img src="./assets/images/webicons/Address.png" class="img_pos_ab">
              <p class="schoolAddress">Address1: <span>{{ (schoolProfileTO.addressOne != null && schoolProfileTO.addressOne.length != 0) ?  schoolProfileTO.addressOne : '-' }} </span></p>
              <p class="schoolAddress">Address2: <span> {{ (schoolProfileTO.addressTwo != null && schoolProfileTO.addressTwo.length != 0) ?  schoolProfileTO.addressTwo : '-' }} </span></p>
              <p class="schoolAddress">City: <span>  {{ (schoolProfileTO.city != null && schoolProfileTO.city.length != 0) ? schoolProfileTO.city : '-'  }}</span></p>
              <p class="schoolAddress">State: <span> {{ (schoolProfileTO.state != null && schoolProfileTO.state.length != 0) ?  schoolProfileTO.state:'-' }}</span></p>
              <p class="schoolAddress">Pincode: <span> {{ (schoolProfileTO.pincode != null && schoolProfileTO.pincode.length != 0) ?  schoolProfileTO.pincode : '-' }}  </span></p>
              <p class="schoolAddress">Country: <span> {{ (schoolProfileTO.country != null && schoolProfileTO.country.length != 0) ?  schoolProfileTO.country :'-' }}  </span></p>
            </div>
          <!-- <div class="col-md-6">
            <img src="./assets/images/webicons/SchoolPrinc.png">
            <p class="school_correspondentname">Correspondent Name: <span>Krishna Swamy</span></p>
          </div> -->
          <div class="clear"></div>
          <div class="large_gap"></div>
          <!-- <div class="col-md-6">
            <img src="./assets/images/webicons/Address.png" class="img_pos_ab">
            <p class="schoolAddress">Address1: <span>{{schoolProfileTO.addressOne}}</span></p>
            <p class="schoolAddress">Address2: <span>{{schoolProfileTO.addressTwo}}</span></p>
            <p class="schoolAddress">City: <span>{{schoolProfileTO.city}}</span></p>
            <p class="schoolAddress">State: <span>{{schoolProfileTO.state}}</span></p>
            <p class="schoolAddress">Pincode: <span>{{schoolProfileTO.pincode}}</span></p>
            <p class="schoolAddress">Country: <span>{{schoolProfileTO.country}}</span></p>
          </div> -->
          <div class="col-md-2"></div>
          <div class="col-md-6">
            <!-- <img src="./assets/images/webicons/Phone.png" class="img_pos_ab">
            <p class="school_contact">Primary Contact#: <span>{{schoolProfileTO.contactName}}</span> </p>
            <p class="school_contact">Contact#: <span>{{schoolProfileTO.contactNumber}}</span> </p> -->
          </div>
          <div class="clear"></div>
          </div>
          <div class="large-gap"></div>

        </div>
        <div class="clear"></div>
      </div>
      </div>

      <div class="datatable_toggle"  [ngClass]="{'inactive_div': div_Element_Id !='0'}">

        <table datatable class="my_table_width" [dtTrigger]="dtTrigger"  [dtOptions]="dtOptions"  >
          <thead>
          <tr>
            <th></th>
            <th>S.No</th>
            <th>Name</th>
            <th>Area</th>
            <th>City</th>
            <th>Primary Contact</th>
            <th>Active</th>
            <th style="width: 92px;">Action</th>
          </tr>
          </thead>
          <tbody>
          <!-- <tr>
            <td>4</td>
            <td><input type="checkbox"></td>
            <td>Sat Gyan High School</td>
            <td>Quthbullapur</td>
            <td>Hyderabad</td>
            <td>040&nbsp;-&nbsp;6543210</td>
            <td><i class="fa fa-toggle-off"></i></td>
            <td>
              <a routerLink="/TabService"><button md-raised-button>Manage</button></a>
            </td>
          </tr> -->
          <tr *ngFor="let schoolProfileTO of schoolProfileTOList ; let i=index "  >
            <td><input type="checkbox" id="{{schoolProfileTO.schoolId}}" value="{{schoolProfileTO.schoolId}}" (change)="checkedStudents(schoolProfileTO.schoolId)" ></td>
            <td>{{i + 1}}</td>
            <!-- <td><input type="checkbox" value="{{schoolProfileTO.schoolId}}"  (change)="updateCheckedOptions(schoolProfileTO.schoolId,$this.checkbox.state)"></td> -->
            <td>{{schoolProfileTO.schoolName}}</td>
            <td>{{schoolProfileTO.addressOne}} , {{schoolProfileTO.addressTwo}}</td>
            <td>{{schoolProfileTO.city}}</td>
            <td>{{schoolProfileTO.contactNumber}}</td>
            <td> 
               <!--  {{schoolProfileTO.Active}} -->

                <div id="toggles">
                    <input type="checkbox" name="checkbox1" id="checkbox1" formControlName="active" class="ios-toggle" checked>
                    <label for="checkbox1" class="checkbox-label" data-on="On"  data-off="Off"></label>
                  </div>

            </td>
            <td>
              <button md-raised-button class="table_blue_btn" (click)="redirecttoschooldashboard(schoolProfileTO.schoolId)">Manage</button>
            </td>
          </tr>
          </tbody>
        </table>


      </div>
    </div>
  </div>
  <div class="clear"></div>





</div>

