.inactive_div {
    display: none;
}
.sugg_dropdown{
    position: absolute;
    z-index: 1;
    width:90%;
    height: 150px;background: #cfcece;
    overflow-y: auto;
}

.sugg_dropdown ul{
    margin-bottom: 0px;
}



.class_select a{
    padding: 8px 10px;
    display: block;
    text-align: left;
}
.class_select a:hover{
    background-color: rgb(191, 202, 202);color: black;
}
.mr10{
    margin-right: 10px;
}

.view_syllabus_table thead{
	background-color: #4cc4db;
	color:#fff;
}


