



<div class="header_div">
<div class="marginContent">
  <div class="col-lg-3 col-md-3 col-sm-3 padding0">
 <div class="logo_div">
<a routerLink="/"> <img src="./assets/images/logo.png" class="img100"></a></div>
  <!--<div class="serach_box inline_block">
    <input type="text" placeholder="Search..."><i class="fa fa-search"></i>
  </div>-->
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9 text-right">
    <ul class="right_side_icon">
      <li class=""><i class="fa fa-bell"></i></li>
      <li class=""><i class="fa fa-envelope"></i></li>
      <li id="hideit" class="header_profile_session"><div><img src="./assets/images/profile/profile.jpg">  
      <p>Jana Novakova</p>
      </div>

        <ul class="submenu">
          <li>View Profile</li>
          <li>Settings</li>
          <li>Logout</li>
        </ul>
      </li>
      
    </ul>
    
    
  </div>
  <div class="clear"></div>
  <div class="large_gap"></div>
</div>

</div>

