.header_div
{
position: fixed;
top: 0;
z-index: 9;
width: 100%;
background-color: #f7f7f7;
padding-top: 15px;
padding-bottom: 15px;
border-bottom: 1px solid #c8c8c8;
box-shadow: 0px 0px 2px #c8c8c8;
height: 80px;
}
.logo_div
{
width: 250px;
position: absolute;
top: -15px;
height: 80px;
}
.logo_div img
{
margin-top:25px; 
}
.header_profile_session p
{
    display: inline-block
}

.marginContent .fa-refresh
{
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
}
.serach_box
{
position: relative
}
.serach_box input
{
    width: 180px;
    height: 32px;
    padding-left: 6px;
    border: 1px solid #c8c8c8;
    transition: 0.5s;
}
.serach_box i
{
position: absolute;
    right: 7px;
    top: 8px;
    color: #4d4d4d;
}
.serach_box input:focus
{
    width:250px; 
}
.header_profile_session img
{
width: 30px;
border-radius: 50%;
}
.header_profile_session 
{
position: relative;
cursor: pointer
}
.right_side_icon
{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}
.right_side_icon li
{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.submenu
{
  position: absolute;
right: 10px;
padding-left: 0;
width: 132px;
text-align: left;
padding: 9px 0px;
background-color: #e6e6e6;
margin-bottom: 0;
top: 47px;
-webkit-transition: 0.3s;
transition: 0.3s;
transform: rotateY(90deg);
}
.submenu li
{
    margin: 4px 0px;
    cursor: pointer;
}
.submenu_active
{
transform: rotateY(0deg);
}
.header_profile_session h3
{
margin: 0;
font-size: 14px;
margin-right: -10px;
margin-top: 6px;
}
.right_side_icon li .manage_profile_school_logo
{
margin-top: -40px;
}
.makeittop
{
    margin-top: -66px;
vertical-align: middle;
}
.header_list_item
{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header_list_item
{
margin-bottom: 0
}
.header_list_item li
{
    display: inline-block;
    padding: 0 20px;
    padding-bottom: 4px;
    cursor: pointer
}
.list_active
{
    border-bottom: 4px solid #199f86;
}