<p class="text-center popup_header">Capture Image </p>
<div class="col-md-12">
<div class="col-md-6">
<ack-webcam
[(ref)]   = "webcam"
[options] = "{
  audio: boolean,
  video: boolean,
  width: 240,
  height: 240,
  fallbackMode: 'callback',
  fallbackQuality: 85,
  cameraType: 'front' || 'back'
}"
(success) = "onCamSuccess($event)"
(catch)   = "onCamError($event)"
></ack-webcam>
</div>
<div class="col-md-6">
<img src="{{selectedimagesrc}}"  width="240" height="240"/>
</div>
</div>
<div class="col-md-12">
<div class="col-md-6">
<button (click)="genBase64()"> Capture </button>
</div>
<div class="col-md-6">
<button (click)="genPostData()"> Upload </button>
</div>
</div>
<br/>
<br/>
<div *ngIf="selectedimagesrc" class="progress" style="width:100%">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}"> {{progress.percentage}}%</div>
</div>
<br/>
<div class="error_msg_text"><p [ngClass]="{'error_styles_sucess': active=='2'}">{{errorMessage}}</p></div>
<div class="sucess_msg_text"><p [ngClass]="{'show_styles_sucess': active=='1'}">{{sucessMessage}}</p></div>
<br/>