<p class="text-center popup_header">Capture Image </p>
<div class="col-md-12">
<div class="col-md-6">
<ack-webcam
[(ref)]   = "webcam"
[options] = "{
  audio: boolean,
  video: boolean,
  width: 240,
  height: 240,
  fallbackMode: 'callback',
  fallbackQuality: 85,
  cameraType: 'front' || 'back'
}"
(success) = "onCamSuccess($event)"
(catch)   = "onCamError($event)"
></ack-webcam>
</div>
<div class="col-md-6">
<img src="{{selectedimagesrc}}"  width="240" height="240"/>
</div>
</div>
<div class="col-md-12">
<div class="col-md-6">
<button (click)="genBase64()"> Capture </button>
</div>
<div class="col-md-6">
<button (click)="genPostData()"> Upload </button>
</div>
</div>