<app-header></app-header>


<div class="all_pages_content">
  <div class="clear"></div>
  <div class="page_content_here">
 <div class="manage_school_table">



    






<div class="tabs_S_M">
    <div class="listing_tabs">
      <ul class="">
        <a routerLink="/TabService"><li class="active_tab" id="service_tab">Services</li></a>
        <a routerLink="/TabManage"><li class="" id="manage_tab">Manage</li></a>
      </ul>
    </div>
    <div class="gird_div">
      <div class="tabs_div active_tab_div inresponsive" id="service_tab_div">
        <div class="little_gap"></div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/Manageclasses"><p class="">Classes</p><div class="tab_common_grid tab_grid1"><img src="./assets/images/icons/patashala/class.png"></div>
          <p class="img_desc">Manage classes of school by linking it to courses.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageTeacher"><p class="">Teacher</p><div class="tab_common_grid tab_grid2"><img src="./assets/images/icons/patashala/teacher.png"></div>
          <p class="img_desc">Manage teacher and link them to classes & subjects.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/Students"><p class="">Student</p><div class="tab_common_grid tab_grid3"><img src="./assets/images/icons/patashala/student.png"></div>
          <p class="img_desc">Manage students and link then to classes.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageExamsSchedule"><p class="">Exam</p><div class="tab_common_grid tab_grid4"><img src="./assets/images/icons/patashala/EXAM.png"></div>
          <p class="img_desc">Manage Exmas, schedule and portion.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ExamResults"><p class="">Exam Results</p><div class="tab_common_grid tab_grid5"><img src="./assets/images/icons/patashala/result.png"></div>
          <p class="img_desc">Associate exam results to students.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageDocuments"><p class="">Documents</p><div class="tab_common_grid tab_grid6"><img src="./assets/images/icons/patashala/documents.png"></div>
          <p class="img_desc">Upload and download documents of classes.</p>
          </a>
        </div>
        <div class="clear"></div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageCalendar"><p class="">Calendar</p><div class="tab_common_grid tab_grid7"><img src="./assets/images/icons/patashala/calendar.png"></div>
          <p class="img_desc">Manage events of school.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageContact"><p class="">Contacts</p><div class="tab_common_grid tab_grid8"><img src="./assets/images/icons/patashala/contacts.png"></div>
          <p class="img_desc">Manage contacts of school.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageFees"><p class="r">Fees</p><div class="tab_common_grid tab_grid9"><img src="./assets/images/icons/patashala/fees.png"></div>
          <p class="img_desc">Manage fees of class.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageTimeTable"><p class="">Timetable</p><div class="tab_common_grid tab_grid10"><img src="./assets/images/icons/patashala/timetable.png"></div>
          <p class="img_desc">Manage timetable of school.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageBanner"><p class="">Banner</p><div class="tab_common_grid tab_grid11"><img src="./assets/images/icons/patashala/banner.png"></div>
          <p class="img_desc">Update banner for school and class.</p>
          </a>
        </div>
     
        <div class="clear"></div>
      </div>
    
    </div>
</div>







<div class="clear"></div>

 </div>
  </div>
</div>