
<app-header1></app-header1>

<div class="login_body"></div>
<div class="login_div">
  <div class="text-center">
    <div class="icon_circle">
    <i class="fa fa-user"></i>
    </div>
  </div>
  <div class="text-center">
    <p class="login_text">Login to your account </p>
    <span class="login_text_2">Enter your credentials below</span>
    <div class="little_gap"></div>
    <form [formGroup]="userForm" (ngSubmit)="login(userForm)" ngNativeValidate>
    <div class="input_filed">
      <input type="text" placeholder="UserName / Email" formControlName="username" [(ngModel)]='username'  required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
      <i class="fa fa-user"></i>
      <div *ngIf="userForm.controls.username.touched">
        <p class="text-left validate_error alert alert-danger" *ngIf="userForm.controls.username.errors?.required || userForm.controls.username.errors?.pattern">Please enter valid email</p>
      </div>
    </div>
    <div class="little_gap"></div>
    <div class="input_filed">
      <input type="password" placeholder="password" formControlName="password" [(ngModel)]='password' required>
      <i class="fa fa-key"></i>
      <div *ngIf="userForm.controls.password.touched">
        <p class="text-left validate_error alert alert-danger" *ngIf="userForm.controls.password.errors?.required">Please enter password</p>
      </div>
    </div>
    <div class="little_gap"></div>
    <button type="submit">SignIn </button>
    </form>
    <div class="text-center validate_success">{{sucessMessage}}</div>
    <div class="text-center validate_error">{{errorMessage}}</div>  
    <div class="col-md-6 pl0 text-left"><p class=""><a routerLink="/Registration">Sign Up?</a></div>

    <div class="col-md-6 pr0"><p class="">
      <a [formGroup]="userForm"  (click)="resetPassword(userForm)">Forgot Password?</a> 
      <!-- <button type="submit" [formGroup]="userForm"  (click)="resetPassword(userForm)">Forgot Password?</button>-->
      
    </p></div>
  </div>
</div>
