.login_body
{
background-color: #f7f7f7;
position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
}
.login_div
{
    width: 320px;
    padding: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.icon_circle
{
color: #90A4AE ;
border-radius: 50%;
text-align: center;
margin: 10px;
border-width: 3px;
border-style: solid;
padding: 20px;
display: inline-block;
width: 78px;
}
.icon_circle i
{
font-size: 32px;
}
.login_text
{
font-size: 18px;
    margin: 0;
}
.login_text_2
{
font-size: 12px;
    color: #777;
}
.input_filed
{
position: relative
}
.input_filed input
{
width: 100%;
height: 36px;
padding: 12px 36px;
font-size: 13px;
line-height: 1.5384616;
color: #333333;
background-color: #fff;
background-image: none;
border: 1px solid #ddd;
border-radius: 3px;
}
.input_filed i
{
position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    height: 36px;
    width: 36px;
    text-align: center;
    padding: 10px;
    color: #999;
}
.login_div button
{
background-color: #199f86;
color: #fff;
width: 100%;
border: 1px solid #2B8070;
padding: 7px;
}
.login_div p a
{
        margin-top: 16px;
    display: inline-block;
    color: #238270;
    font-weight: 500
}