<app-header></app-header>

<div class="all_pages_content">
  <div class="clear"></div>
  <div class="page_content_here">
 <div class="manage_school_table">

<div class="tabs_S_M">
    <div class="listing_tabs">
      <ul class="">
        <a routerLink="/TabService"><li class="" id="service_tab">Services</li></a>
        <a routerLink="/TabManage"><li class="active_tab" id="manage_tab">Manage</li></a>
      </ul>
    </div>
    <div class="gird_div">
           <div class="tabs_div inresponsive" id="manage_div_tab">
        <div class="little_gap"></div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/Mastercourse"><p class="">Course</p><div class="tab_common_grid tab_grid7"><img src="./assets/images/icons/patashala/course.png"></div>
          <p class="img_desc">Manage courses by linking syllabus and subjects.</p>
          </a>
        </div>
        <!--<div class="col-md-2">
          <a routerLink="/Archive"><div class="tab_common_grid tab_grid8"><img src="./assets/images/icons/patashala/archive.png"></div><p class="">Archive</p>
          <p class="img_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, eius.</p>
          </a>
        </div>-->
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageSettings"><p class="">Setting</p><div class="tab_common_grid tab_grid2"><img src="./assets/images/icons/patashala/setting.png"></div>
          <p class="img_desc">Remotely configure Mobile app settings.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageUser"><p class="">Users</p><div class="tab_common_grid tab_grid5"><img src="./assets/images/icons/patashala/User.png"></div>
          <p class="img_desc">Manage web users and associate then to Roles.</p>
          </a>
        </div>
        
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageRoles"><p class="">Roles</p><div class="tab_common_grid tab_grid11"><img src="./assets/images/icons/patashala/Roles.png"></div>
          <p class="img_desc">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          </a>
        </div>  
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ManageRegisteredApp"><p class="">Registered App Users</p><div class="tab_common_grid tab_grid9"><img src="./assets/images/icons/patashala/RegisteredAppUsers.png"></div>
          <p class="img_desc">View all mobile app users.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="#"><p class="">SMS & Emails</p><div class="tab_common_grid tab_grid5"><img src="./assets/images/icons/patashala/mail_sms.png"></div>
          <p class="img_desc">Share Mobile App link email/sms.</p>
          </a>
        </div>
         <div class="clear"></div>
        
       
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ReassignStudentToNewClass"><p class="">Change student classes</p><div class="tab_common_grid tab_grid11"><img src="./assets/images/icons/patashala/activities.png"></div>
          <p class="img_desc">Bulk assignment of students to class. </p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/AboutSchool"><p class="">About School</p><div class="tab_common_grid tab_grid2"><img src="./assets/images/icons/patashala/aboutschool.png"></div>
          <p class="img_desc">Update about school content, to be displayed in mobile app.</p>
          </a>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
          <a routerLink="/ParentAskCategories"><p class="">Parent Ask Category</p><div class="tab_common_grid tab_grid3"><img src="./assets/images/icons/patashala/paesnaskcategories.png"></div>
          <p class="img_desc">Manage Parent Ask categories.</p>
          </a>
        </div>

        <div class="clear"></div>

      </div>
    </div>
</div>







<div class="clear"></div>

 </div>
  </div>
</div>