<div class="header_div">
<div class="marginContent">
  <div class="col-lg-6 col-md-6 col-sm-6 padding0">
 <div class="logo_div">
   <div class="MyriadProB font28"><img src="{{schoolImage}}" class="img100 manage_profile_school_logo">
   <h3 class="school_name">{{schoolName}}</h3>
   </div>
<!--<a routerLink="/"> <img src="./assets/images/logo.png" class="img100"></a></div>-->
  <!--<div class="serach_box inline_block">
    <input type="text" placeholder="Search..."><i class="fa fa-search"></i>
  </div>-->
  </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 text-right">
    <ul class="right_side_icon">
      <li><b>Powered @ Link-Fi</b></li>
      <li id="hideit" class="header_profile_session"><div><img src="./assets/images/profile/profile.jpg">  
      <p>Jana Novakova</p>
      </div>
        <ul class="submenu">
          <li>View Profile</li>
          <li>Settings</li>
          <li>Logout</li>
        </ul>
      </li>
    </ul>
    <ul class="right_side_icon">
      <li class=""><i class="fa fa-bell"></i></li>
      <li class=""><i class="fa fa-envelope"></i></li>
    </ul>
    
  </div>
  <div class="clear"></div>
</div>

<!--<ul class="header_list_item">
  <a  routerLink="/ManageEachSchool"><li class="list_active">Services</li></a>
  <a  routerLink="/ManageEachSchool"><li class="">Manage</li></a>
</ul>-->
</div>


<!--<li ng-hide="hideit"></li>-->
