.inactive_div{
    display: none;
}
.mas_sub label{
    font-weight: normal;
}
.view_syllabus_table thead{
	background-color: #4cc4db;
	color:#fff;
}
.addschool_div input[type=checkbox]{
    width:auto;height:auto;
    }



    