<app-header-admin></app-header-admin>

<div class="overlay hideblock" [ngClass]="{'showblock': active=='1'}"></div>
    <div class="popup_screen hideblock " [ngClass]="{'showblock': active=='1'}">
        <div class="sucess_msg_text"><span class="checkicon"> &#x2714;</span> <p [ngClass]="{'show_styles_sucess': active=='1'}">{{sucessMessage}}!</p></div>
        <div class="little_gap"></div>
        <button class="update_btn popup_ok_btn" (click)="closePopup()">Ok</button>
        <div class="little_gap"></div>
    </div>

<div class="overlay hideblock"  [ngClass]="{'showblock': showClassSelection==true}"></div>
    <div class="class_search hideblock " [ngClass]="{'showblock': showClassSelection==true}">
        <i class="fa fa-close closeclassidpopup"  (click)="closePopup()" ></i>
        <app-syllbus-popup (notify)='onNotify($event)'></app-syllbus-popup>   
    </div>




<div class="all_pages_content">
    <div class="clear"></div>
    <div class="page_content_here">
    <div class="manage_school_table">
        <div class="listing_tabs1">
        <ul class="">
            <a routerLink="/TabService"><li class="" id="">Services</li></a>
            <a routerLink="/TabManage"><li class="active_tab" id="">Manage</li></a>
        </ul>
        </div>
    <div class="mini_gap"></div>

    <div class="col-md-6 padding30"><h3>Manage Courses </h3>
        <p class="breadscrum_text"><a  routerLink="/">Home</a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp;<a  routerLink="/TabManage">Manage</a> &nbsp; <i class="fa fa-chevron-right"></i> &nbsp;<a  routerLink="/Courses">Course</a> &nbsp;<i class="fa fa-chevron-right"></i> &nbsp; Manage Courses</p>
    </div>


<div class="clear"></div>
<div class="little_gap"></div>
<div class="tabs_S_M">
     <div class="listing_tabs1">
        <ul class="">
           <a routerLink="/Mastercourse"><li class="active_tab" id="">Course</li></a>
           <a routerLink="/Mastersyllabus"><li class="" id="">Syllabus</li></a>
           <a routerLink="/Mastersubject"><li class="" id="">Subjects</li></a>
        </ul>
      </div>
      <div class="little_gap"></div>
    <div class="gird_div">
        <div class="tabs_div active_tab_div " id="service_tab_div">
            <div class="text-right">
                <div class="buttons_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
                    <button class="add_more_btn" (click)="show_addCourseFields()" [ngClass]="{'disable_btn': selectedCourseArray.length!='0'}"><i class="fa fa-plus"></i> Add</button>
                    <button class="edit_field_btn" (click)="getselectedCourseProfile()" [ngClass]="{'disable_btn': selectedCourseArray.length!='1'}"><i class="fa fa-pencil"></i> Modify</button>
                    <button (click)="deleteCourse()" [ngClass]="{'disable_btn': selectedCourseArray.length==0 || selectedCourseArray.length>1}"><i class="fa fa-trash"></i> Delete</button>
                    <button (click)="viewSingleCourseProfile()" [ngClass]="{'disable_btn': selectedCourseArray.length!='1'}"><i class="fa fa-eye"></i> View</button>
                </div>
            </div>
            <div class="little_gap"></div>
            <div class="large_gap"></div>

          <!-- <div class="sucess_msg_text"><p [ngClass]="{'show_styles_sucess': active=='1'}">{{sucessMessage}}</p></div> -->
          <div class="error_msg_text"><p [ngClass]="{'error_styles_sucess': active=='2'}">{{errorMessage}}</p></div>
 <!-- <div *ngIf ="addcourse_condition"> -->
            <div class="add_fields addschool_div" *ngIf="div_Element_Id =='1'"  [ngClass]="{'inactive_div': div_Element_Id !='1'}">
                    <div class="col-md-3"></div>
                    <form [formGroup]="courseFormGroup" (ngSubmit)="addCourseSubmit(courseFormGroup)">
                            <div class="col-md-6 padding0">
                                <div class="col-md-4 text-right"><p><b>Course Name :</b></p></div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="courseName" placeholder="Enter your course name" >
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-4 text-right"><b>Syllabus :</b></div>
                                <div class="col-md-8 text-right"><span class="cancel_btn_add button_type_span" (click)="showsyllabusPopup()">Add Syllabus</span></div>
                                <div class="clear"></div>
                                <div class="little_gap"></div>
                                <div class="col-md-4"></div>
                                <div *ngIf="selectedSyllabusnameArray.length" class="plus_btn_inline col-md-8 ">
                                        <table  class="my_table_width">
                                        <thead>
                                        <tr>
                                            <!-- <th class="text-center"></th> -->
                                            <th class="text-center">S.no</th>
                                            <th class="text-center">Syllabus Name</th>
                                            <th class="text-center"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  *ngFor="let current of selectedSyllabusnameArray; let i=index;"  class="dlt_btn text-center">
                                            <!-- <td><input type="checkbox" id="{{current.syllabusId}}"  value="{{current.syllabusId}}"  (change)="checkedMastersyllabus(current.syllabusId,current.syllabusName)"></td> -->
                                            <td>{{i+1}}</td>
                                            <td>{{current}}</td>
                                            <td>
                                                 <i  (click)="deleteSyllabusName(i)" class="fa fa-trash"></i> 

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                                <div class="clear"></div>
                                <div class="little_gap"></div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="clear"></div>
                            <div class="col-md-12 padding0 text-center">
                                <button class="update_btn">Add Course</button> <span class="cancel_btn_add button_type_span" (click)="showCourseList()">Cancel</span>
                            </div>
                    </form>
                <div class="clear"></div>
            </div>
    <!-- </div> -->


            <div class="modify_fields addschool_div" *ngIf="div_Element_Id =='2'" [ngClass]="{'inactive_div': div_Element_Id !='2'}">
                <div class="col-md-3"></div>
                    <form [formGroup]="courseFormGroup" (ngSubmit)="UpdateCourseSubmit(courseFormGroup)">
                            <div class="col-md-6 padding0">
                                <div class="col-md-4 text-right"><p><b>Course Name :</b></p></div>
                                <div class="col-md-8">
                                    <input type="text" formControlName="courseName" placeholder="Enter your course name">
                                </div>
                                <div class="clear"></div>
                                <div class="col-md-4 text-right"><b>Syllabus :</b></div>
                                <div class="col-md-8 text-right"><span class="cancel_btn_add button_type_span" (click)="showsyllabusPopup()">Modify Syllabus</span></div>
                                <div class="clear"></div>
                                <div class="little_gap"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <table *ngIf="selectedSyllabusnameArray.length"  class="view_syllabus_table">
                                        <thead>
                                            <tr>
                                                
                                                <th>S.no</th>
                                                <th>Syllabus Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let syname of selectedSyllabusnameArray; let i=index;" class="dlt_btn text-center">
                                                <!-- <td><input type="checkbox" [checked]="selectedSyllabusArray.indexOf(syname.syllabusId) >= 0" id="{{syname.syllabusId}}" value="{{syname.syllabusId}}" (change)="checkedMastersyllabus(syname.syllabusId,syname.syllabusName)"></td> -->
                                                <td>{{i+1}}</td>
                                                <td>{{syname}} </td>
                                                <td>
                                                    <i  (click)="deleteSyllabusName(i)" class="fa fa-trash"></i>  
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="clear"></div>
                                <div class="little_gap"></div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="clear"></div>
                            <div class="col-md-12 padding0 text-center">
                                <button class="update_btn">Update Course</button> <span class="cancel_btn_add button_type_span" (click)="showCourseList()">Cancel</span>
                            </div>
                    </form>
                <div class="clear"></div>
            </div>
        <div class="clear"></div>


            <div class="singleStudentViewDiv addschool_div" [ngClass]="{'inactive_div': div_Element_Id !='3'}">
                <div class="text-right">
                    <span class="cancel_btn_modify button_type_span" (click)="showCourseback()">Close</span>
                </div>
                <div class="col-md-4"></div>
                    <div class="col-md-4 padding0" *ngIf="masterCourseTO">
                        <p><b>Course Name</b> :    {{masterCourseTO.courseName}}</p>
                        <div class="large_gap"></div>            
                        <table class="view_syllabus_table">
                            <thead>
                                <tr>
                                    <th class="text-center">S.no</th>
                                    <th class="text-center">Syllabus Name</th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr  class="text-center" *ngFor="let viewname of selectedSyllabusnameArray; let i=index;">
                                    <td>{{i+1}}</td>
                                    <td>{{viewname}}  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="clear"></div>
            </div>
            <div class="clear"></div>


            <div class="datatable_toggle active_tab_div" [ngClass]="{'inactive_div': div_Element_Id !='0'}">
                <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="my_table_width">
                    <thead>
                        <tr>
                            <th></th>
                            <th>S.no</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let masterCourse of masterCourseTOList; let i=index;">
                            <td><input type="checkbox" id="{{masterCourse.courseId}}" value="{{masterCourse.courseId}}" (change)="checkedmasterCourse(masterCourse.courseId)"></td>
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-center">{{masterCourse.courseName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clear"></div>
    </div>
          <div class="clear"></div>
      </div>
    </div>
</div>
    </div>
</div>



<!-- 

<p>
  master-course works!

  <BR><BR>

  <button (click)="testAdd()"> Add </button> <BR><BR>

  <button (click)="testUpdate()"> Update </button> <BR><BR>

  <button (click)="testGet()"> Get </button> <BR><BR>

  <button (click)="testGetAll()"> Get All </button> <BR><BR>

  <button (click)="testDelete()"> Delete </button> <BR><BR>

</p> -->
